<h1>Shelters</h1>

<% @shelters.each do |shelter| %>
  <h2><%= shelter.name %></h2>
  <p>Shelter info: <%= shelter.address %>
    <%= shelter.city %>
    <%= shelter.state %>
    <%= shelter.zip %></p>
  <% end %>


<!-- Shelter.create(name: "shelter1", address: "123 main street", city: "Denver", state:"CO", zip: 80260)
     Shelter.create(name: "shelter2", address: "456 main ave", city: "Denver", state:"CO", zip: 80260)

<!-- <form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<#%= form_authenticity_token %>">
  <p>Enter a new task:</p>
  <input type='text' name='shelter[title]'/><br/>
  <textarea name='shelter[description]'></textarea><br/>
  <input type='submit'/>
</form> -->
