  <body>
    <header id="header">
    <h1>Pets</h1>
  </header>

  <div class="header-link">
    <%= link_to 'Back To Home', "/" %>
    <%= link_to 'Go to Shelters', "/shelters" %><br>
    <%= link_to 'Create Pet', "/shelters/#{@shelter_id}/pets/new" %>
  </div>


  <% @pets.each do |pet| %>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <img src="<%= pet.image %>">
  <p>Approximate age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <br>
  <%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %>
  <form action="/pets/<%= pet.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"><br>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="Delete Pet" value="Delete Pet"/>
  </form>

  <% end %>

</body>
