<%= link_to 'Back To Home', "/" %><br>

<%= link_to 'Create Pet', "/shelters/#{@shelter_id}/pets/new" %>

<h1>Pets</h1>

  <% @pets.each do |pet| %>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <img src="<%= pet.image %>">
  <p>Approximate age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Shelter: <%= pet.shelter.name %></p>
  <% end %>
