<header id="header">
  <h1><%= @pet.name %></h1>
</header>

<br>
<img src="<%= @pet.image %>">
<p>Description: <%= @pet.description %></p>
<p>Approximate age: <%= @pet.approximate_age %></p>
<p>Sex: <%= @pet.sex %></p>

<p>Adoption Status: <%= @pet.adoption_status %></p>
<br>


<%# button_to 'Add to Favorites', "/favorites?pet_id=#{@pet.id}", method:"patch" %>
<%# <%= button_to 'Add to Favorites', "/favorites", params:{pet_id: @pet.id}, method:"patch" %>
<%= button_to 'Add to Favorites', favorite_path(pet_id: @pet.id), method: :patch %>

<br>
<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>

 <form action="/pets/<%= @pet.id %>" method="POST">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"><br>
   <input type="hidden" name="_method" value="DELETE">
   <input type="submit" name="Delete Pet" value="Delete Pet"/>
 </form>
